.card {
    padding: 40px;
    max-width: 400px;
    margin: 0 auto;
    height: 72%;
    text-align: center;
}

.mat-form-field {
    font-size: 18px;
    width: 100%;
}

.btn-wrap {
    display: flex;
    justify-content: space-between;
    margin-left: 0px;
}

.signup {
    padding: 3px 20px;
    background-color: #d7c361;
}

.signin {
    padding: 3px 20px;
}

.signinGoogle {
    margin-top: 40px;
    font-size: 20px;
    font-family: none;
    padding: 6px 40px;
    color: indianred;
}

.mat-icon {
    margin-bottom: 10px;
    margin-right: 14px;
}

::ng-deep .snackbar-style {
    background-color: #ff438b;
    color: white;
    border-radius: 8px;
    font-size: 18px;
}

::ng-deep .mat-simple-snackbar-action {
    color: white;
}