.form-field {
    width: 100%;
    padding-bottom: 12px;
}

::ng-deep .mat-dialog-container {
    width: 60%;
    margin: auto;
    padding: 24px 30px;
}

@media (max-width: 768px) {
    ::ng-deep .mat-dialog-container {
        width: 100%;
        padding: 14px;
    }
}

::ng-deep .event-form .mat-form-field-wrapper {
    padding-bottom: 0px;
}

.mat-dialog-content {
    height: 376px;
}

.mat-dialog-actions {
    justify-content: center;
}

.btn-submit {
    background-color: #d7c361;
    margin-right: 10px;
}