<mat-toolbar color="primary">
  <div style="display: flex;align-items: center;">
    <mat-icon>home</mat-icon> <!-- Home icon in the toolbar -->
    <span>Angular Material Design App</span>
  </div>
  <button mat-button (click)="onButtonClick()"><mat-icon>menu</mat-icon></button> <!-- Button in the toolbar -->
</mat-toolbar>

<div style="text-align: center; margin-top: 50px;">
  <button mat-raised-button color="accent" (click)="onAlertButtonClick()">
    <mat-icon>notifications</mat-icon> Show Alert
  </button>
</div>

<router-outlet></router-outlet>