.demo-table {
    width: 100%;
}

.mat-row {
    cursor: pointer;
}

.mat-row:hover {
    background: #ebe3defa;
}

tr.mat-row {
    height: 40px;
}

.secondTab {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.secondTab span {
    display: flex;
    flex-direction: column;
}

.mat-select {
    width: 214px;
    border: 1px solid #ebe3defa;
    padding: 10px;
    border-radius: 6px;
}

.mat-form-field {
    width: 236px;
}

::ng-deep .snackbar-style {
    background-color: #ff438b;
    color: white;
    border-radius: 8px;
    font-size: 18px;
}

::ng-deep .mat-simple-snackbar-action {
    color: white;
}