.card {
    padding: 40px;
    max-width: 400px;
    margin: 0 auto;
    height: 70%;
}

.mat-form-field {
    font-size: 18px;
    width: 100%;
}

.btn-wrap {
    display: flex;
    justify-content: space-between;
    margin-left: 0px;
}

.signin {
    padding: 3px 20px;
    background-color: #d7c361;
}

.submit {
    padding: 3px 20px;
}