.demo-table {
    width: 100%;
}

.mat-row {
    cursor: pointer;
}

tr.mat-row {
    height: 40px;
}

.secondTab {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
}

.secondTab span {
    display: flex;
    flex-direction: column;
}

.mat-select {
    width: 214px;
    border: 1px solid #ebe3defa;
    padding: 10px;
    border-radius: 6px;
}

.sliderWrap {
    width: 300px;
}

@media (max-width: 560px) {
    .secondTab {
        flex-direction: column;
    }

    .sliderWrap {
        margin-top: 30px;
    }
}

::ng-deep .snackbar-style {
    background-color: #ff438b;
    color: white;
    border-radius: 8px;
    font-size: 18px;
}

::ng-deep .mat-simple-snackbar-action {
    color: white;
}

tr.disabled {
    pointer-events: none;
}

tr:not(.disabled):hover {
    background-color: #f0f0f0;
}