.demo-table {
    width: 100%;
}

.mat-row {
    cursor: pointer;
}

tr.mat-row {
    height: 40px;
}

::ng-deep .snackbar-style {
    background-color: #ff438b;
    color: white;
    border-radius: 8px;
    font-size: 18px;
}

::ng-deep .mat-simple-snackbar-action {
    color: white;
}