.form-field {
    width: 100%;
    font-size: 16px;
    padding-bottom: 8px;
}

::ng-deep .mat-typography h2 {
    margin-bottom: 5px;
}

::ng-deep .mat-dialog-container {
    width: 66%;
    margin: auto;
    padding: 6px 30px 0px;
}

@media (max-width: 768px) {
    ::ng-deep .mat-dialog-container {
        width: 100%;
        padding: 10px;
    }
}

::ng-deep .event-form .mat-form-field-wrapper {
    padding-bottom: 0px;
}

.mat-dialog-content {
    min-height: 440px;
}

.mat-dialog-actions {
    justify-content: center;
}

.btn-submit {
    background-color: #d7c361;
    margin-right: 10px;
}

.uploadWrap {
    display: flex;
    justify-content: space-between;
    outline: 1px solid #e6e6e6;
    border-radius: 3px;
    margin: 1px;
}

.labelBtn {
    background: #e9a234;
    padding: 14px;
    cursor: pointer;
}

.uploadInput {
    display: none;
}

.image-preview {
    max-width: 100%;
    max-height: 80px;
    margin-top: 8px;
}

::ng-deep .snackbar-style {
    background-color: #ff438b;
    color: white;
    border-radius: 8px;
    font-size: 18px;
}

::ng-deep .mat-simple-snackbar-action {
    color: white;
}

.ml-20 {
    margin-left: 20px !important;
}